[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus/
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "physfs"]
	path = physfs
	url = https://github.com/icculus/physfs
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "luajit"]
	path = LuaJIT
	url = https://luajit.org/git/luajit.git
[submodule "sol2"]
	path = sol2
	url = https://github.com/ThePhD/sol2
