[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus/
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "physfs"]
	path = physfs
	url = https://github.com/icculus/physfs
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
